:root {
    --main-bg: white;
    --secondary-color: rgba(52, 214, 203, 0.475); 
    --text-color: black;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);
}

header {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 10px;
    display: block;
    border-radius: 15px;
    display: block;
}

h1 {
    font-size: 50px;
    font-family: fantasy;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    background-color: var(--main-bg);
    margin: 0px;  
    border-radius: 50px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: block;
    justify-content: space-between;
    color: var(--text-color);
}

main{
  
}

#profile-picture {
    width: 15%;
    margin: 20px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px var(--secondary-color);
}

article {
    border: 5px var(--secondary-color) dotted;
    background-color: var(--main-bg);
    width: 75%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

h2 {
    padding: 10px;
    font-size: 200%;
    color: rgb(51, 199, 190);
    
}

article div {
    padding: 10px;
    width: 75%;
}

#projects {
    margin-top: 80px;
}
