:root {
    --main-bg: rgba(249, 223, 237, 0.602);
    --secondary-color: rgb(12, 91, 137); 
    --text-color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);
    font-size: 20px;
}

header {
    background-image: url(./59-blush-pink-8x10.jpg);
    margin: 0;
    padding: 10px;
    display: block;
    box-shadow: 0 0 3px var(--secondary-color);
    border-radius: 15px;
    display: block;
}

h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--secondary-color);
}

nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0px;  
}

nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: block;
    justify-content: space-between;
    color: var(--secondary-color);
}

.button:hover {
    text-shadow: 2px 2px 2px var(--secondary-color);
}

#about-me {
    margin-top: 75px;
    display: flex;
    flex-flow: row wrap;
}

#profile-picture {
    width: 15%;
    height: auto;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px var(--secondary-color);
}

article {
    border: 5px var(--secondary-color) dotted;
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

h2 {
    font-size: 200%;
    color: var(--secondary-color);
}

article div {
    padding: 10px;
    width: 75%;
}

#projects {
    margin-top: 100px;
    margin-left: 25px;
}

#projects ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0px;
    margin-right: 30px;
}

.smaller-projects {
    max-width: 25%;
    height: auto;
    padding: 50px;
    border: 5px var(--secondary-color) solid;
    border-radius: 20px;
    margin-bottom: 20px;
}

#showcase-project {
    width: 60%;
    height: auto;
    padding: 20px;
    border: 5px var(--secondary-color) solid;
    border-radius: 20px;
    margin-bottom: 30px;
}

#showcase-project:hover {
    box-shadow: 0px 0px 10px var(--secondary-color);
}

.smaller-projects:hover {
    box-shadow: 0px 0px 10px var(--secondary-color);
}

#projects img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 3px var(--secondary-color);
}

#projects li {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

#resume {
    margin-top: 75px;
    margin-left: 25px;
    padding: 10px;
    box-shadow: 0 0 3px var(--secondary-color);
    background-color: var(--main-bg);
    border-radius: 15px;
}

#resume a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#resume a:hover {
    font-style: oblique;
}

hr {
    border-color: var(--secondary-color);
    border-width: 3px;
}

#contact {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 75px;
    margin-bottom: 50px;
}

#contact h2 {
    margin-right: 15px;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 75%;
    }

    #projects {
        flex-flow: column wrap;
        width: 100%;
        padding: 0;
    }
}
